.results-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 30px;
  margin: 15px;
  max-width: 80vw;
  border-radius: 20px;
  border: solid 2px black;
  margin-top: 20vh;
}

.results-line {
  color: black
}

