nav {
  background-color: #bcb7b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px black;
  height: 15vh;
  width: 100%;
  position: fixed;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Gluten', cursive; 
  font-size: 5vh;
  width: auto;
  color: #322416;
}

h2 {
  cursor: pointer;
  margin-right: 30px;
}

.turing-sorting-hat {
  padding: 30px;
  height: 13vh;
  width: auto;
  opacity: 1;
}

h2:hover {
  color: darkblue; 
}