nav {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: solid 2px black;
  height: 15vh;
  width: 100%;
  position: fixed;
  background-color: #e5e4e2;
}

h1 {
  font-family: 'Gluten', cursive; 
  font-size: 4em;
}

img {
  padding: 15px;
}

.turing-sorting-hat {
  height: 13vh;
  width: auto;
  opacity: 1;
}