.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFFE6;
  padding: 30px;
  margin: 45px;
  max-width: 70vw;
  border-radius: 20px;
  border: solid 2px black;
}

.question-and-answers {
  margin: 0 0 30px 0;
}

.question-index {
  margin: 0 0 30px 0;
  font-weight: lighter;
}

.hogwarts-headshot {
  height: auto;
  padding: 0 0 0 15px;
  width: 6em;
}

p {
  margin: 10px;
}

.question {
  font-weight: bold;
}

.answer {
  margin: 15px 15px 0 15px;
}

